body {
  background-color: black;
  font-family: "Scout Condensed Bold";
}

.middle {
  display: flex;
  align-items: center;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.btn {
  border-radius: 1;
  display: block;
}
