@media only screen and (max-width:800px) {
  .container-page-1{
    background-repeat: no-repeat;
    width:100%;
    height: 180px;
  }

  .container-page-1-logo{
    width:30%;
  }

  .double-arrow{
    width: 5%;
  }

  .container-page-2{
    width:100%;
    height: auto;
  }

  .title-main{
    left: 44px;
    font-size: 2em;
    text-align: center;
    color: white;
    /* margin: 26px 0px 0px 0px; */
  }

  .season-content{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: auto;
  }

  .season-name{
    position: absolute;
    background-color: #272727;
    height: auto;
    width: 100%;
    color: white;
    font-size: 1em;
  }

  .arrow-left, .arrow-right{
    width: 25%;
  }

  .container-page-3{
    width:100%;
    height: auto;
  }

  .news-content{
    flex-wrap: wrap;
    margin-top: 5%;
  }

  .latest-news{
    margin-top: 2%;
  }

  .latest-news-container{
    /* width:100%; */
    /* padding-left: 10%; */
    margin: 0% 0% 0% 10%;
  }
  /* .latest-news-content{
    margin-right: 10%;
  } */

  .latest-news-date{
  font-size: 1em;
  color: #888888;
  /* margin-top: 5px; */
  }

  .latest-news-title{
    font-size: 1em;
    /* margin-top: 5px; */
  }

  .latest-news-text{
    font-size: 0.7em;
    font-weight: lighter;
    margin-top: 5px;
    /* padding-right: 10px; */
  }
}