nav {
  position: fixed;
  width: 100%;
}

nav .navbar-container {
  list-style-type: none;
  background-color: black;
  padding: 10px 50px;
  justify-content: space-between;
}

nav .navbar-container li {
  font-size: 1.75em;
  display: inline-block;
}

nav .navbar-container .logo-container {
  width: 6%;
}

nav .navbar-container .navbar-side-container {
  float: right;
}

nav .navbar-container .navbar-side-container .nav-text {
  padding-left: 40px;
}

nav .navbar-container .navbar-side-container li .pre-order-container {
  background-color: rgb(54, 169, 224);
  padding: 10px;
  color: black;
}

nav .navbar-container .navbar-side-container li .pre-order-container:hover {
  background-color: white;
}

nav .navbar-container .navbar-side-container #menuIcon {
  display: none;
}

nav .navbar-container li a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}

nav .navbar-container li a:hover {
  color: rgb(54, 169, 224);
}
